# requirements.txt

allure-pytest==2.13.5
pytest==8.2.2
pytest-xdist==3.6.1
colorama
colorlog
cryptography
DingtalkChatbot
Faker
Jinja2
mitmproxy
openpyxl
pandas
pydantic
PyMySQL
pyparsing
pyperclip
pydantic==1.8.2
PyYAML
redis
requests
requests-toolbelt
ruamel.yaml
urllib3
jsonpath==0.82.2
xlrd
xlwt

